
.topicos{
    background: var(--azul-degrade);
    text-align: center;
    font-family: var(--fonte-principal);
    padding: 1% 0;
    
}
.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    font-size: 16px;
    margin: 1.2em 0;
}
.topicos__lista{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.topicos__item{
        margin: 2em 0.5em;

}
.topicos__link{
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
    }
    .topicos__link{
        font-size: 24px;
        
    }
    .topicos__item{
        margin: 2.6em 0.5em;
    }
    .topicos__link:hover{
        background:linear-gradient(97deg , #f4bb4a,#df980a) ;
    }
}

@media screen and (min-width: 1728px){
    .topicos{
        padding: 3em 25vw;
    }
}
    